body {
  background-color: lightblue;
}
.main{
  background-color: white;
  margin: 0 300px 0 300px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 70%;
}
.side_left{
  background-color: #355586;
}
.side_right{

}
.profile_picture{
  margin: 50px auto 50px auto;
  border-radius: 50%;
}